<div class="container">

	<h1>List Page</h1>

	<ul id="links">
		<% Link.hottest_first.each do |l| %>

				<li id="links">
					<%=link_to l.title, l.url%>
					<% if l.url.end_with?(".jpg", ".gif", ".png")%>
						<%= render "link", link: l %>
					<% end %>

					<%= form_for l, :html => { :id => "link_#{l.id}" }, :url => change_vote_path, method: :get do |f|%>
						<%= f.hidden_field :id , :value => l.id %>
						<%= f.submit "Downvote", "data-role" => "score"%>
						<%= f.submit "Upvote", "data-role" => "score"%>
					<% end %>

				</li>

		<% end %>
	</ul>

	<%= link_to "Submit a new link", new_link_path %>
	
	<%= link_to "new", new_link_path%>
</div>