<div class="container">

	<ul id="links">
		<% Link.newest_first.each do |l| %>
			<li>
				<%= l.title%>
				<%=link_to l.title, l.url%>		
			</li>

		<% end %>
	</ul>
	
	<h1>Create a new link</h1>

	<%= form_for Link.new do |f| %>

	<div>
		<h6> Link Title: </h6>
		<%= f.text_field :title, :placeholder => "Be clear and descriptive" %>
	</div>
	
	<div>
		<h6> Url: </h6>
	<%= f.text_field :url, :placeholder => "the damn url,please" %>
	</div>

	<div>
		<h6>Upload your image</h6>
   	<%= f.file_field :image, multiple: true %>
	</div>
	<div>
		<%= f.submit "Submit!" %>
	</div>
	<% end %>
</div>



