
<br>

<%=link_to @link.title, link_path%>
<% if @link.url.end_with?(".jpg", ".gif", ".png")%>
	<%= render "link", link: @link %>
<% end %>



<ul id=<%= "link_#{@link.id}" %>>
	<li data-role="score" >Votes : <%=@link.upvotes - @link.downvotes%>
	</li>
</ul>


